<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../assets/jaguar_xf1.webp"
          alt=""
          style="width: 100%; height: 100%"
        />
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Jaguar.</h1>
            <p>
              Grace…, Space… Pace. Unleash a Jaguar. Don't dream it. Drive it!
            </p>
            <!-- <p>
                <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
              </p> -->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../assets/jaguar_xf2.jpg"
          alt=""
          style="width: 100%; height: 100%"
        />
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p></p>
            <p>
              <a
                class="btn btn-lg btn-primary"
                href="#"
                style="left: 60%; position: relative"
                >Learn more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../assets/jaguar_xf_3.jpg"
          alt=""
          style="width: 100%; height: 800px; object-fit: cover"
        />
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Take the Best that Exists.</h1>

            <p>
              <a class="btn btn-lg btn-primary" href="#">Browse gallery</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img
          src="../assets/ferrari_logo.png"
          class="bd-placeholder-img"
          width="120"
          height="120"
          alt="Ferrari Logo"
        />
        <h2 class="fw-normal">Ferrari</h2>
        <p>
          Ferrari S.p.A. is an Italian luxury sports car manufacturer based in
          Maranello, Italy. Founded by Enzo Ferrari in 1939. Ferrari 488 Spider
          is the top model in the 488 lineup...
        </p>
        <p>
          <a
            class="btn btn-info"
            routerLink="/brands/ferrari"
            routerLinkActive="active"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="../assets/lamborghini_logo.png"
          class="bd-placeholder-img"
          width="120"
          height="120"
          alt="Lamborghini Logo"
        />
        <h2 class="fw-normal">Lamborghini</h2>
        <p>
          Automobili Lamborghini S.p.A. is an Italian brand based in Sant'Agata
          Bolognese.Lamborghini has launched the latest and final iteration of
          the Aventador in the form of the Aventador Ultimae...
        </p>
        <p>
          <a
            class="btn btn-info"
            routerLink="/brands/lamborghini"
            routerLinkActive="active"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="../assets/rolls_royce_logo.png"
          class="bd-placeholder-img"
          width="120"
          height="120"
          alt="Rolls-Royce Logo"
        />
        <h2 class="fw-normal">Rolls-Royce</h2>
        <p>
          Rolls-Royce Motor Cars Limited is a British luxury automobile maker
          the Goodwood Estate in West Sussex, England.Rolls-Royce has revealed
          the prices of the eighth-generation of the Phantom in India...
        </p>
        <p>
          <a
            class="btn btn-info"
            routerLink="/brands/rollsroyce"
            routerLinkActive="active"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Elegant Design.
          <!-- <span class="text-muted">It’ll blow your mind.</span> -->
        </h2>
        <p class="lead">
          The XF is an evolution of the original J-Blade design pioneered in the
          X250 XF, with a largely similar silhouette. Effort was made to build a
          uniform design language across Jaguar's saloon range.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../assets/jaguar_xf_4.jpg"
          alt=""
          style="width: 500px; height: 400px"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Impressive Engine
          <!-- <span class="text-muted">Choose for yourself.</span> -->
        </h2>
        <p class="lead">
          If you are eyeing the XF 20t, chances are that you are looking
          forward to what's under the hood more than rear seat space or cabin
          quality. In that case, the XF gets a 1997cc, four-cylinder engine that
          makes 200bhp. There's 320Nm on tap from low revs, however, the XF
          doesn't hurl itself out of the block like the smaller XE-blame it on
          the added weight.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="../assets/jaguar_xf5.jpg"
          alt=""
          style="width: 500px; height: 400px"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          And lastly, Smooth Control.
          <!-- <span class="text-muted">Checkmate.</span> -->
        </h2>
        <p class="lead">
          The shifts from the XF 8-speed gearbox are quick yet smooth enough to
          be indiscernible. Unlike cars with dual clutch autos, this torque
          converter allows the XF to pick up speed from standstill in a linear
          manner with no hesitancy whatsoever. The Dynamic mode, in fact,
          sharpens the throttle response and makes the gearbox more engaging.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../assets/jaguar_xf6.jpg"
          alt=""
          style="width: 500px; height: 400px"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
</main>
