<br>
<div class="text-end">
    <a href="#" class="btn btn-info">Back to home </a>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 text-dark">
        <h1 class="featurette-heading fw-normal lh-1">
            Lamborghini Aventador
            <!-- <span class="text-muted">It’ll blow your mind.</span> -->
        </h1>
        <p class="lead font-weight-bold">
            The Lamborghini Aventador is a mid-engine sportscar produced by the
            Italian automotive manufacturer Lamborghini. In keeping with Lamborghini tradition, the Aventador is named
            after a Spanish fighting bull that fought in Zaragoza, Aragón, in 1993. The Aventador is the
            successor for the Murciélago and was made by hand in Sant'Agata Bolognese, Italy.
        </p>
    </div>
    <div class="col-md-5">
        <img src="../assets/lambGallery/front.jpg" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette bg-dark">
    <div class="col-md-7 order-md-2 text-light">
        <h2 class="featurette-heading fw-normal lh-1">
            Care like a baby
        </h2>
        <p class="lead font-weight-bold">
            Take good care of your care in the garage, and the car will take good care of you on the road.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="../assets/lambGallery/back1.jpg" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 text-dark">
        <h2 class="featurette-heading fw-normal lh-1">
            Elegant Design
        </h2>
        <p class="lead font-weight-bold">
            Each and every detail of the Aventador bears the hallmarks of the House of the Raging Bull. It is a true
            masterpiece of design that expresses dynamism and power, with the carbon-fiber monocoque the jewel in its
            crown. The interior combines high-level technology and luxury equipment, crafted by skilled artisans.
        </p>
    </div>
    <div class="col-md-5">
        <img src="../assets/lambGallery/in.jpg" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette bg-dark">
    <div class="col-md-7 order-md-2 text-light">
        <h2 class="featurette-heading fw-normal lh-1">
            Great Interior
        </h2>
        <p class="lead font-weight-bold">
            Lamborghini is famous for designing out of this world vehicles that shatter expectations and are instantly
            recognizable on the road, thanks to Lamborghini for making its cars look like stealth jets. Lamborghini has
            created a design that makes the driver feel like they’ve time traveled into the distant future.
        </p>
    </div>
    <div class="col-md-5 order-md-8">
        <img src="../assets/lambGallery/side.webp" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />



<div class="text-end">
    <a href="#" class="btn btn-info">Back to home </a>
</div><br>