<br><br>
<div class="text-end">
    <a  routerLink="/brands/ferrari"
    routerLinkActive="active" class="btn btn-info">Back to home </a>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 text-dark">
        <h1 class="featurette-heading fw-normal lh-1">
            The ride
            <!-- <span class="text-muted">It’ll blow your mind.</span> -->
        </h1>
        <p class="lead font-weight-bold">
            Here’s where everything comes together—the power, the handling, the ability to hear the shouts of “Holy
            shit!” as you drive by unsuspecting pedestrians while the roof is down. The 488 Spider always feels just
            right, thanks in no small part to the variable modes you control right from the steering wheel. (This truly
            is a car designed with the driver in mind.)
        </p>
    </div>
    <div class="col-md-5">
        <img src="../assets/ferGallery/front.jpg" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette bg-dark">
    <div class="col-md-7 order-md-2 text-light">
        <h2 class="featurette-heading fw-normal lh-1">
            The heritage
        </h2>
        <p class="lead font-weight-bold">
            This year marks the 70th anniversary of the very first Ferrari, the 125 S, rolling off the line in Modena,
            Italy. Ever since then, no automotive marque—in fact, no other proper noun—wields the same connotations of
            speed, beauty and exclusivity as Enzo Ferrari’s namesake company. The 488 Spider is a vital
            link-in-the-chain not only of this heritage, but also of the more recent tradition of the brand’s mid-engine
            V8 roadsters.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="../assets/ferGallery/back.avif" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 text-dark">
        <h2 class="featurette-heading fw-normal lh-1">
            The steering wheel
        </h2>
        <p class="lead font-weight-bold">
            Ferrari borrows heavily from Formula One both in terms of technology and tradition. In
            the case of the 488, it's the steering wheel. Ferrari has replaced all of the traditional stalks with
            steering-wheel-mounted buttons or switches. It's very F1.
        </p>
    </div>
    <div class="col-md-5">
        <img src="../assets/ferGallery/inside.jpg" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette bg-dark">
    <div class="col-md-7 order-md-2 text-light">
        <h2 class="featurette-heading fw-normal lh-1">
            Folding roof
        </h2>
        <p class="lead font-weight-bold">
            To let the sunshine in, all you have to do is press a button to fold away the electrically
            operated hardtop roof.
        </p>
    </div>
    <div class="col-md-5 order-md-8">
        <img src="../assets/ferGallery/top.jpg" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />
<div class="text-end">
    <a  routerLink="/brands/ferrari"
    routerLinkActive="active" class="btn btn-info">Back to home </a>
</div><br>