<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../assets/lambo1.jpg"
          alt=""
          style="width: 100%; height: 100%"
        />
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Lamborghini.</h1>
            <p>
              We are Lamborghini. Dream, inspire, lead, wait, last: see the
              future and write your history.
            </p>
            <!-- <p>
                <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
              </p> -->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../assets/lambo2.jpg"
          alt=""
          style="width: 100%; height: 100%; object-fit: cover"
        />
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p></p>
            <p>
              <a
                class="btn btn-lg btn-primary"

                routerLink="/learnMore/lamborghini"
                routerLinkActive="active"

                style="left: 60%; position: relative"
                >Learn more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../assets/lamborghini_aventador3.jpg"
          alt=""
          style="width: 100%; height: 800px"
        />
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class="cor3">Take the Best that Exists.</h1>


            <p>
              <a class="btn btn-lg btn-primary" href="#">Browse gallery</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img
          src="../assets/ferrari_logo.png"
          class="bd-placeholder-img"
          width="120"
          height="120"
          alt="Ferrari Logo"
        />
        <h2 class="fw-normal">Ferrari</h2>
        <p>
          Ferrari S.p.A. is an Italian luxury sports car manufacturer based in
          Maranello, Italy. Founded by Enzo Ferrari in 1939. Ferrari 488 Spider
          is the top model in the 488 lineup...
        </p>
        <p>
          <a
            class="btn btn-info"
            routerLink="/brands/ferrari"
            routerLinkActive="active"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="../assets/jaguar_logo.png"
          class="bd-placeholder-img"
          width="120"
          height="120"
          alt="Jaguar Logo"
        />
        <h2 class="fw-normal">Jaguar</h2>
        <p>
          Jaguar, a British multinational car manufacturer with its headquarters
          in Whitley, England. The XF is the most advanced, efficient, and
          refined sports Sedan car that Jaguar has ever produced...
        </p>
        <p>
          <a
            class="btn btn-info"
            routerLink="/brands/jaguar"
            routerLinkActive="active"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="../assets/rolls_royce_logo.png"
          class="bd-placeholder-img"
          width="120"
          height="120"
          alt="Rolls-Royce Logo"
        />
        <h2 class="fw-normal">Rolls-Royce</h2>
        <p>
          Rolls-Royce Motor Cars Limited is a British luxury automobile maker
          the Goodwood Estate in West Sussex, England.Rolls-Royce has revealed
          the prices of the eighth-generation of the Phantom in India...
        </p>
        <p>
          <a
            class="btn btn-info"
            routerLink="/brands/rollsroyce"
            routerLinkActive="active"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Powerful Production.
          <!-- <span class="text-muted">It’ll blow your mind.</span> -->
        </h2>
        <p class="lead">
          Over the years, every new variant of the Aventador has always churned
          out more power than their predecessor, and this time, the Ultimae is
          no exception. With its 6.5-liter naturally aspirated fire-breathing
          V12 the Aventador's latest edition has been crowned as the most
          powerful V12 Lamborghini to date.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../assets/lamborghini_aventador4.avif"
          alt="...."
          style="width: 500px; height: 500px"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Only 350 Units
          <!-- <span class="text-muted">Choose for yourself.</span> -->
        </h2>
        <p class="lead">
          Automotive experts believe that the Aventador Ultimae could
          potentially become a future classic. The limited production numbers
          and last all-naturally aspirated drivetrain could be the driving
          factors for future pricing. Well, the Aventador being the poster car
          for the Millennials and Gen Z is an added bonus as well.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="../assets/lamborghini_aventador5.avif"
          alt=""
          style="width: 500px; height: 400px"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Carbon Fiber Chassis.
          <!-- <span class="text-muted">Checkmate.</span> -->
        </h2>
        <p class="lead">
          Common to every Aventador, the Ultimae also gets an extremely rigid
          carbon fiber monocoque chassis. This chassis which is famously known
          as the "Tub" is used to mount the front and rear subframes. Following
          the attachment of this, all the suspension and drivetrain components
          are added to ultimately create the ferocious V12 Lambo bull.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../assets/lamborghini_aventador6.avif"
          alt=""
          style="width: 500px; height: 400px"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
</main>
