
<br>
<div class="text-end">
    <a href="#" class="btn btn-info">Back to home </a>
</div>


    <hr class="featurette-divider" />

    <div class="row featurette">
        <div class="col-md-7 text-dark">
            <h1 class="featurette-heading fw-normal lh-1">
                Phantom Series
                <!-- <span class="text-muted">It’ll blow your mind.</span> -->
            </h1>
            <p class="lead font-weight-bold">
                Phantom series is lengend like no other. Commmanding Authoritative, this iconic masterpiece.
                Stands firmily at the apex of luxary
            </p>
        </div>
        <div class="col-md-5">
            <img src="../assets/rollesGallery/front.jpg" alt="" style=" width: 500px;; height:400px; "
                class="rounded" />

        </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette bg-dark">
        <div class="col-md-7 order-md-2 text-light">
            <h2 class="featurette-heading fw-normal lh-1">
                Redefine the rules
            </h2>
            <p class="lead font-weight-bold">
                Shape your Name in History.Embrace the power of an icon.Experience the vitality of evolution
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../assets/rollesGallery/intop.jpg" alt="" style=" width: 500px;; height:400px; "
                class="rounded" />

        </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
        <div class="col-md-7 text-dark">
            <h2 class="featurette-heading fw-normal lh-1">
                Begin your Phantom Series Commission
            </h2>
            <p class="lead font-weight-bold">
                Phantom Series II is not only an icon, but also the realisation of your desires. Craft a motor car that
                reflects your individual tastes, made possible through our Bespoke services.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../assets/rollesGallery/side.jpg" alt="" style=" width: 500px;; height:400px; " class="rounded" />

        </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette bg-dark">
        <div class="col-md-7 order-md-2 text-light">
            <h2 class="featurette-heading fw-normal lh-1">
                Phantom Suite
            </h2>
            <p class="lead font-weight-bold">
                Experience the luxury of absolute privacy. The Privacy Suite for Phantom Extended transforms the rear
                cabin into a secluded sanctuary for undisturbed enjoyment.
            </p>
        </div>
        <div class="col-md-5 order-md-8">
            <img src="../assets/rollesGallery/in.webp" alt="" style=" width: 500px;; height:400px; " class="rounded" />

        </div>
    </div>

    <hr class="featurette-divider" />

    <div class="text-end">
        <a href="#" class="btn btn-info">Back to home </a>
    </div><br>