<br><br>
<div class="text-end">
    <a  routerLink="/brands/jaguar"
    routerLinkActive="active" class="btn btn-info">Back to home </a>
</div>
<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 text-dark">
        <h1 class="featurette-heading fw-normal lh-1">
            Thrilling Performance
            <!-- <span class="text-muted">It’ll blow your mind.</span> -->
        </h1>
        <p class="lead font-weight-bold">
            Powering the 2022 Jaguar XF is the same turbocharged 2.0-Litre four-cylinder engine, which comes in two
            states of tune. The P50 version of the XF produces 246 HP, whereas the P300 makes around 296 HP. The
            base-level engine is fairly solid, but for those looking for an extra punch, the P300 is a fabulous choice.
        </p>
    </div>
    <div class="col-md-5">
        <img src="../assets/jaguGallery/front.jpg" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette bg-dark">
    <div class="col-md-7 order-md-2 text-light">
        <h2 class="featurette-heading fw-normal lh-1">
            Competitively Priced
        </h2>
        <p class="lead font-weight-bold">
            The XF overflows with English luxury charm, even if it isn't as well-rounded as some of its competitors. Its
            simple, elegant sheet metal and sporty stance fit a Jaguar. With the latest updates, the cabin is better
            than ever.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="../assets/jaguGallery/back.jpg" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 text-dark">
        <h2 class="featurette-heading fw-normal lh-1">
            Fine British Interior
        </h2>
        <p class="lead font-weight-bold">
            The interior of the XF is finely built and features loads of soft-touch materials and leather. The vehicle
            has ample knee room, headroom, and shoulder room for a vehicle in its class. It has a wheelbase of 116.5
            inches while allowing the XF to seat 5 in comfort
        </p>
    </div>
    <div class="col-md-5">
        <img src="../assets/jaguGallery/in.jpg" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette bg-dark">
    <div class="col-md-7 order-md-2 text-light">
        <h2 class="featurette-heading fw-normal lh-1">
            Unique Luxury Performance
        </h2>
        <p class="lead font-weight-bold">
            It has sophisticated Jaguar-like styling, packs in good performance numbers, and is convenient. The car is
            inspired by the F-type sports car, and for 2022, the F-Pace has received a minor facelift over the previous
            generation on the outside and the inside
        </p>
    </div>
    <div class="col-md-5 order-md-8">
        <img src="../assets/jaguGallery/side.webp" alt="" style=" width: 500px; height:400px; " class="rounded" />

    </div>
</div>

<hr class="featurette-divider" />


<div class="text-end">
    <a routerLink="/brands/jaguar"
    routerLinkActive="active" class="btn btn-info">Back to home </a>
</div>
<br>