<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../assets/ferrari_4881.jpg"
          alt=""
          style="width: 100%; height: 100%"
        />
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Ferrari.</h1>
            <p>We build cars, symbols of Italian excellence</p>
            <!-- <p>
                <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
              </p> -->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../assets/ferrari_4882.jpg"
          alt=""
          style="width: 100%; height: 800px"
        />
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p></p>
            <p>
              <a
                class="btn btn-lg btn-primary"
                href="#"
                style="left: 60%; position: relative"
                >Learn more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../assets/ferrari_4883.jpg"
          alt=""
          style="width: 100%; height: 800px"
        />
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Take the Best that Exists.</h1>

            <p>
              <a
                class="btn btn-lg btn-primary"
                routerLink="/gallery/ferrari"
                routerLinkActive="active"
                >Browse gallery</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img
          src="../assets/jaguar_logo.png"
          class="bd-placeholder-img"
          width="120"
          height="120"
          alt="Jaguar Logo"
        />
        <h2 class="fw-normal">Jaguar</h2>
        <p>
          Jaguar, a British multinational car manufacturer with its headquarters
          in Whitley, England. The XF is the most advanced, efficient, and
          refined sports Sedan car that Jaguar has ever produced...
        </p>
        <p>
          <a
            class="btn btn-info"
            routerLink="/brands/jaguar"
            routerLinkActive="active"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="../assets/lamborghini_logo.png"
          class="bd-placeholder-img"
          width="120"
          height="120"
          alt="Lamborghini Logo"
        />
        <h2 class="fw-normal">Lamborghini</h2>
        <p>
          Automobili Lamborghini S.p.A. is an Italian brand based in Sant'Agata
          Bolognese.Lamborghini has launched the latest and final iteration of
          the Aventador in the form of the Aventador Ultimae...
        </p>
        <p>
          <a
            class="btn btn-info"
            routerLink="/brands/lamborghini"
            routerLinkActive="active"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="../assets/rolls_royce_logo.png"
          class="bd-placeholder-img"
          width="120"
          height="120"
          alt="Rolls-Royce Logo"
        />
        <h2 class="fw-normal">Rolls-Royce</h2>
        <p>
          Rolls-Royce Motor Cars Limited is a British luxury automobile maker
          the Goodwood Estate in West Sussex, England.Rolls-Royce has revealed
          the prices of the eighth-generation of the Phantom in India...
        </p>
        <p>
          <a
            class="btn btn-info"
            routerLink="/brands/rollsroyce"
            routerLinkActive="active"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Powerful Performance.
          <!-- <span class="text-muted">It’ll blow your mind.</span> -->
        </h2>
        <p class="lead">
          The Ferrari 488 Spider is the latest chapter in Maranello's ongoing
          history of open-top v8 sports cars, a story that started with the
          targa-top version of the 308 GTB - the immortal 308 GTS - and which
          ultimately resulted in the full convertible spider architecture.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../assets/ferrari_4884.jpg"
          alt=""
          style="width: 500px; height: 500px"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          New V8'S Soundtrack
          <!-- <span class="text-muted">Choose for yourself.</span> -->
        </h2>
        <p class="lead">
          Every Ferrari has its own unique and distinctive soundtrack and the
          488 Spider is no exception to this rule. The new V8's soundtrack is
          seductively full and powerful even at low speeds and increases in
          volume and clarity as revs rise, underscoring the engine's exceptional
          responsiveness, torque and performance.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="../assets/ferrari_4885.jpg"
          alt=""
          style="width: 500px; height: 400px"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          And lastly, Cockpit.
          <!-- <span class="text-muted">Checkmate.</span> -->
        </h2>
        <p class="lead">
          The 488 Spider's cockpit was designed to underscore Ferrari's Formula
          1-inspired philosophy of creating a seamless relationship between
          driver and car: the commands not clustered on the steering wheel are
          on the wraparound satellite pods which are angled directly towards the
          driver. The new lighter, horizontally more compact dashboard also
          curves around the cockpit and features ultra-sporty air vents.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../assets/ferrari_4886.jpg"
          alt=""
          style="width: 500px; height: 400px"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
</main>
